<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title> Perfect Present </title>
   <link rel = "stylesheet" type = "text/css"  href= "css/style2.css">
 </head>

 <body>
<h1> Perfect Present </h1>
     <div>
 <img src="http://cdn2.cloudpro.co.uk/sites/cloudprod7/files/Present.jpg" alt="gift" height="400">
   <form method = "POST" >
    1. How old is the recipient?
     <br>
     <input type="radio" name="age" value="small_child"> Small child (0-10)
     <br>
     <input type="radio" name="age" value="teenager"> Teenager (11-21)
     <br>
     <input type="radio" name="age" value="adult"> Adult (21-59)
     <br>
    2. What is the gender of the recipient?
     <br>
     <input type="radio" name="gender" value="male"> Male
     <br>
     <input type="radio" name="gender" value="Female"> Female
     <br>
    3. What is your relationship to the recipient?
     <br>
     <input type="radio" name="relationship" value="significant_other"> Significant other
     <br>
     <input type="radio" name="relationship" value="blood_relative"> Blood relative
     <br>
     <input type="radio" name="relationship" value="extended_family"> Extended family
     <br>
     <input type="radio" name="relationship" value="friend"> Friend
     <br>
    4. What is your price range for the gift?
     <br>
     <input type="radio" name="price" value="under_50"> Under $50
     <br>
     <input type="radio" name="price" value="under_100"> Under $100
     <br>
     <input type="radio" name="price" value="over_100"> Over $100
     <br>
     5. What are the recipient's interests?
     <br>
     <input type="radio" name="categories" value="sports"> Sports
     <br>
     <input type="radio" name="categories" value="nature"> Nature
     <br>
     <input type="radio" name="categories" value="music"> Music
     <br>
     <input type="radio" name="categories" value="art"> Art
     <br>
     <input type="radio" name="categories" value="electronics"> Electronics
     <br>
     <input type="radio" name="categories" value="house_gifts"> House gifts
     <br>
     <input type="radio" name="categories" value="romance"> Romantic gifts
     <br>
     <input type="radio" name="categories" value="toys"> Toys
     <br>
     <input type = "submit" value = "Click me to find the perfect present!!!">

   </form>
     </div>
 </body>
</html>

























<!--  <!doctype HTML>
<html>
  <head>  <title> Squacoon Sighting Report Form </title>
  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">

  </head>

  <body>
  <h2>  Squacoon Sighting Report Form </h2>
  <form method = "post">
    <label for "name"> Name </label> <input type = "text" name = "name">
   <br>
    <label for "contact"> Contact </label>
    <input type = "email" name = "contact">
    <br>
    <label for "date"> Date </label> <br> <input type = "date" name = "date">
    <br>
    <label for "emotion"> Emotional Response </label><br>
    <select name = "emotion">
      <option class = "label" value = "panic"> Panic </option>
      <option class = "label" value = "cute" > Awww </option>
      <option class = "label"i value = "Noble"> Awed Respect </otpion>
    </select>
  <br>
    <input type = "submit" value = "Submit">

  </form>
  <img width = "250" height = "180" src = "http://bekat.yolasite.com/resources/squacoon.JPG.opt378x275o0,0s378x275.JPG"
  > </body>
</html> -->
